<div class="container">
<h1>Fed?</h1>
<% if @fedStatus %>
  At <%= @mostRecentCareFeedTime.strftime("%I:%M") %>
<% else %>
  Not yet
<% end %>
<% if @mostRecentCareFeedTime.strftime("%p") == "AM" %>
  this morning.
<% else %>
  this evening.
<% end %>
<% if !@fedStatus %>
<br>
<%= button_to "Feed", {action: "care", fed: true}, {class: 'button'}%>
<% end %>
<div class="historyText">
  <% if @morningCare %>
    <% if @morningCare.fedAt %>
      Was fed this morning at <%= @morningCare.fedAt.strftime("%I:%M") %>
    <% end %>
  <% end %>
</div>

<% if @currentTimeObject.strftime("%p") == 'AM' %>
  <h1>Medicated?</h1>
  <% if @medicatedStatus %>
    At <%= @mostRecentCareMedicateTime.strftime("%I:%M") %>
  <% else %>
    Not yet
  <% end %>
  <% if @mostRecentCareMedicateTime.strftime("%p") == "AM" %>
    this morning.
  <% else %>
    this evening.
  <% end %>
  <% if !@medicatedStatus %>
  <br>
  <%= button_to "Medicate", {action: "care", medicated: true}%>
  <% end %>
<% end %>
<div class="historyText">
  <% if @morningCare %>
    <% if @morningCare.medicatedAt %>
      Was medicated this morning at <%= @morningCare.medicatedAt.strftime("%I:%M") %>
    <% end %>
  <% end %>
</div>
</div>
